@import "../../variables.scss";

.user {
    &:after {
        display: block;
        float: left;
    }

    .avatar {
        border-radius: 5px;
        height: 30px;
        width: auto;
        float: left;
        margin-right: 10px;
    }

    .details {        
        font-weight: bold;
        font-size: 0.8em;
    }
}

.timeStamp {
    float: left;
}