@import '../../../variables.scss';


@media only screen and (min-width: $xl-screen-min){
 
  .form {
    position: relative;    
    padding-right: 10px;
  }

  .input {
    margin: 10px;
    background-color: #FFF;
    font: 1em sans-serif;
    color: #000;
    height: 30px;
    width: auto;
  }
  
  .LoginButton {
    margin: 10px;
    background-color: lightgray;      
    color: #000;
  }

}

@media only screen and (min-width: $l-screen-min) and (max-width: $xl-screen-min){

  .form {
    position: relative;    
    padding-right: 20px;
    margin-right: 40%;
    display: none;
  }

  .input {
    background-color: #FFF;
    margin-bottom: 5px;
    font: 1em sans-serif;
    color: #000;
    height: 20px;
    width: 100%;
  }
  
  .LoginButton {
    background-color: lightgray;      
    color: #000;
    height: 20px;
    width: 100%;
    font-size: 70%;
    padding: 4px;
  }

}

@media only screen and (max-width: $l-screen-min) {

  .form {
    position: relative;    
    padding-right: 20px;
    margin-right: 20%;
    display: none;     
  }

  .input {    
    background-color: #FFF;
    margin-bottom: 5px;
    font: 1em sans-serif;
    color: #000;
    height: 20px;
    width: 100%;
  }
  
  .LoginButton {    
    background-color: lightgray;      
    color: #000;
    height: 20px;
    width: 100%;
    font-size: 70%;
    padding: 4px;
  }

}