@import '../../variables.scss';


.successDiv {
    position: fixed;
    bottom: 5%;
    right: 50%;
    font-size: 20px;
    color: $travelneer-green;
}

.errorDiv {
    position: fixed;
    bottom: 5%;
    right: 50%;
    font-size: 20px;
    color: red;
}