@import '../../variables.scss';


@media only screen and (min-width: $xl-screen-min) {
    .div {
        position: absolute;
        top: 25%;
        right: 40%;
        width: auto;
        height: auto;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #FFF;
        border-radius: 20px;

        .form {
            text-align: center;
            width: 100%;

            .input {
                margin-right: 10px;
                text-align: center;
                height: 40px;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: $l-screen-min) and (max-width: $l-screen-max) {
    .div {
        position: relative;
        top: 15%;
        width: 100%;
        height: auto;
        background-color: #FFF;
        text-align: center;

        .form {
            text-align: center;
            width: 100%;

            .input {
                margin-right: 10px;
                text-align: center;
                height: 40px;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: $s-screen-min) and (max-width: $s-screen-max) {
    .div {
        position: relative;
        top: 15%;
        width: 100%;
        height: auto;
        background-color: #FFF;
        text-align: center;        

        .form {
            text-align: center;
            width: 100%;

            .input {
                margin-right: 10px;
                text-align: center;
                height: 30px;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: $xs-screen-max) {
    .div {
        position: relative;
        top: 15%;
        width: 100%;
        height: auto;
        background-color: #FFF;
        text-align: center;

        .form {
            text-align: center;
            width: 100%;


            .input {
                margin-right: 10px;
                text-align: center;
                height: 25px;
                width: 100%;
            }
        }
    }
}