@import "../../variables.scss";

@media only screen and (min-width: $xl-screen-min) {
    .div {
        position: relative;
        left: 20%;
        width: 60%;
    }
}

@media only screen and (min-width: $l-screen-min) and (max-width: $l-screen-max) {
    .div {
        position: relative;
        left: 5%;
        width: 90%;
    }
}

@media only screen and (min-width: $s-screen-min) and (max-width: $s-screen-max) {
    .div {
        position: relative;
        left: 5%;
        width: 90%;
    }
}

@media only screen and (max-width: $xs-screen-max) {
    .div {
        width: 100%;
    }
}
