@import "../../variables.scss";

.option {
    &:hover,
    &.active {
      color: $travelneer-dark;
      background-color: $travelneer-blue;
      transition: none;
    }

    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
} 


@media only screen and (min-width: $xl-screen-min) {

    .div {
        width: 50%;
    }

    .select {
        width: 80%;        
    } 
    
}

@media only screen and (max-width: $s-screen-min) {

    .select {
        width: 100%;
    }
    
}