@import '../../../variables.scss';

@media only screen and (min-width: $xl-screen-min) {
    .div {        
        margin-top: 100px;
        width: 60%;
    }    
    .img {
        position: relative;
        float: left;
        width: 40%;
        height: auto;
    }
    .LogoutButton {
        float: right;
        background-color: $travelneer-green;
    }
}

@media only screen and (min-width: $l-screen-min) and (max-width: $l-screen-max) {
    .div {        
        margin-top: 100px;
        width: 80%;
    }    
    .img {
        position: relative;
        float: left;
        width: 50%;
        height: auto;
    }
    .LogoutButton {
        float: right;
        background-color: $travelneer-green;

    }
}

@media only screen and (min-width: $s-screen-min) and (max-width: $s-screen-max) {
    .div {        
        margin-top: 10px;
        width: 100%;
    }    
    .img {
        position: relative;
        float: left;
        width: 50%;
        height: auto;
    }
    .LogoutButton {
        float: right;
        background-color: $travelneer-green;

    }
}

@media only screen and (max-width: $xs-screen-max) {
    .div {        
        margin-top: 10px;
        width: 100%;
    }    
    .img {
        position: relative;
        float: left;
        width: 50%;
        height: auto;
    }
    .LogoutButton {
        float: right;
        width: 50px;
        height: 25px;   
        font-size: 10px;
        padding: 3px;     
        background-color: $travelneer-green;
    }
}