@import "../../variables.scss";


@media only screen and (min-width: $xl-screen-min) {

    .div {
        width: 50%;
    }

    .select {
        width: 80%;        
    } 
    
}

@media only screen and (max-width: $s-screen-min) {

    .select {
        width: 100%;
    }
    
}