@import '../../variables.scss';

.input {
    margin: 10px;
    background-color: #FFF;
    font: 1em sans-serif;
    color: #000;
    height: 30px;
    width: auto;
  }

.LoginButton {
    margin: 10px;
    background-color: lightgray;      
    color: #000;
}