$xl-screen-min: 768px;

$l-screen-max: 767px;
$l-screen-min: 478px;

$s-screen-max: 477px;
$s-screen-min: 371px;

$xs-screen-max: 370px;

$travelneer-green: #00ff66;
$menu-background: #2d3138;
$travelneer-dark: #2d3138;
$travelneer-blue: #01a2aa; //#68b7ba;

:global {
    body {
        background-color: #F0F0F0
    }
  }