@import "../../variables.scss";
@import "..//postarea/PostArea.scss";


.commentAreaVisible {    
    z-index: 1;    
    width: 70%;
}

.commentAreaInvisible {
    z-index: -1;
    visibility: hidden;    
}