@import '../../variables.scss';


.childrenVisible {
    position: fixed;
    width: 100%;
    z-index: 1;    
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.childrenInvisible {
    position: fixed;
    top: 100%;
    width: 100%;
    z-index: -1;
}

@media only screen and (min-width: $xl-screen-min) {
    .img {
        float: right;
    }
}

@media only screen and (min-width: $l-screen-min) and (max-width: $l-screen-max) {
    .img {
        float: right;
    }
}

@media only screen and (min-width: $s-screen-min) and (max-width: $s-screen-max) {
    .img {
        float: right;
        width: 35px;
        height: auto;
    }
}

@media only screen and (max-width: $xs-screen-max) {
    .img {
        float: right;
        width: 25px;
        height: auto;
    }
}