@import "../../variables.scss";

.user {
    &:after {
        display: block;
        float: left;
    }

    .avatar {
        border-radius: 5px;
        height: 30px;
        width: auto;
        float: left;
        margin-right: 10px;
    }

    .details {
        font-weight: bold;
    }
}

.timeStamp {
    float: right;
}

.actions {
    position: relative;
    margin-bottom: 10px;

    .icon {
        color: #999;
        margin-right: 20px;
        width: 5px;
        height: 5px;
    }
}

@media only screen and (min-width: $xl-screen-min) {
    .story {
        border: 1px solid #ccc;
        padding: 25px 50px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-color: #FFF;
    }

    .content {
        margin: 30px 0;
        font-family: georgin;
        font-size: 1.1em;
        width: 100%;
    }
}

@media only screen and (min-width: $l-screen-min) and (max-width: $l-screen-max) {
    .story {
        border: 1px solid #ccc;
        padding: 15px;
        padding-bottom: 5px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-color: #FFF;
    }

    .content {
        margin: 30px 0;
        font-family: georgin;
        font-size: 1em;
        width: 100%;
    }
}

@media only screen and (min-width: $s-screen-min) and (max-width: $s-screen-max) {
    .story {
        border: 1px solid #ccc;
        padding: 15px;
        padding-bottom: 5px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-color: #FFF;
    }

    .content {
        margin: 30px 0;
        font-family: georgin;
        font-size: 1em;
        width: 100%;
    }
}

@media only screen and (max-width: $xs-screen-max) {
    .story {
        border: 1px solid #ccc;
        padding: 15px;
        padding-bottom: 5px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-color: #FFF;
    }

    .content {
        margin: 30px 0;
        font-family: georgin;
        font-size: 1em;
        width: 100%;
    }
}
